
/* 2. MODULES */
/* 
.button{

    background-color: hsl(195, 51%, 54%);
    border: none;
    font-size: 2rem;
    color: white;
    padding: 8px 20px;
    margin: 5px;
    font-weight: bold;
    border-radius: 12px;
    box-shadow:4px 4px 4px rgb(68, 67, 67);
  } */